@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Hello DevOpsGit!</h1>
    <p>This is new change paragraph</p>
    <p> Import Project from Git to Azure repo Web apps with ASP.NET Core</p>
</div>
